<div class="row">
  <div class="col col-lg-9 col-md-9 col-sm-12">
    <mat-form-field appearance="outline">
      <mat-label>Search Stitches</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
  <div class="col col-lg-3 col-md-3 col-sm-12">
    <button mat-button (click)="changeView('list')">
      <mat-icon aria-hidden="false" aria-label="View List">view_list</mat-icon> List View
    </button>
    <button mat-button (click)="changeView('card')">
      <mat-icon aria-hidden="false" aria-label="View Thumbnails">view_module</mat-icon> Thumbnail View
    </button>
  </div>
</div>

<app-stitches-card-view *ngIf="card" [stitches]="stitches"></app-stitches-card-view>
<app-stitches-list-view *ngIf="list" [stitches]="stitches"></app-stitches-list-view>
