@import '~@angular/material/theming';

nav {
  // @include mat-elevation(2);
  margin-bottom: 25px;
  // border-bottom: 1px solid #B5838D;
}

.nav-spacer {
  flex: 1 1 auto;
}

button {
  text-transform: uppercase;
}